
{% extends "wiki/wikiTemplate.html" %}

{% block body %}
<div style="padding: 0px 10px; margin-top: 0px;">
    <div class="d-flex flex-row-reverse" style="padding: 0px 10px;">
        <a href="/wiki/new/">
            <button type="button" class="btn btn-outline-primary" style="margin-left: 5px;">Add new topic</button>

        </a>
        <a href="/wiki/random/">
            <button type="button" class="btn btn-outline-primary" style="margin-right: 5px;">Random topic</button>

        </a>
    </div>
    <div style="display: flex;">
        <h2 style="margin: 20px;">{{ description }}</h2>
    </div>
    <div class="list-group">
        {% if entries %}
        {% for entry in entries %}
            <a href="/wiki/{{ entry }}" class="list-group-item list-group-item-action">{{ entry }}</a>
        {% endfor %}
        {% else %}
        <div class="position-absolute top-50 start-50 translate-middle">
            <h2 class="center">No entry found</h2>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}