<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Wikeyboard</title>
        <link rel="icon" type="image/x-icon" href="https://i.imgur.com/lh2F7PV.png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <header style="padding: 20px; display: flex;">
            <div style="display: flex;">
                <a href="/wiki/">
                    <img src="https://i.imgur.com/lh2F7PV.png"  width="75" height="75">
                </a>
                <div style="display: flex; flex-direction: column; flex-wrap: wrap; justify-content: center; align-items: center; min-width: 235px;">
                    <a style="font-size: 25px; padding: 0px 20px;">Wikeyboard</a>
                    <a style="padding: 0px 20px;" >The keyboard encyclopedia</a>
                </div>
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <form >
                        <input width="30px" >
                    </form>
                    <a href="./random" >
                        <input type="button" value="Random page" ></input>
                    </a>
                </div>
            </div>
        </header>
        <div style="border-bottom: 1px solid lightgray; margin: 0px 50px;"></div>
        <div style="padding-left: 10px; margin-top: 15px;">
            <a style="padding: 20px;">List of all the topics:</a>
            <ul style="margin-top: 10px;">
                {% for entry in entries %}
                    <li style="padding: 2px; margin-left: 15px;"><a href="/wiki/{{ entry }}">{{ entry }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>