{% extends "wiki/wikiTemplate.html" %}

{% block body %}
<form  action="./" method="post" >
    {% csrf_token %}
    <div class="mb-3" style="padding: 10px;">
        <h2>Modifying {{ name }}:</h2>
        <textarea name="new_content" class="form-control" id="exampleFormControlTextarea1" rows="16" placeholder="content">{{ content }}</textarea>
    </div>
    <div style="padding: 10px;">
        <button type="submit" class="btn btn-outline-primary">Modify Page</button>
        <a href="./">
            <button type="button" class="btn btn-outline-primary">Cancel</button>
        </a>
    </div>
</form>

{% endblock %}
