{% extends "wiki/wikiTemplate.html" %}

{% block body %}
<form action="./" method="post" >
    {% csrf_token %}
    <div class="mb-3" style="padding: 10px;">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input name="name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="name" required>
      </div>
      <div class="mb-3" style="padding: 10px;" >
        <label for="exampleFormControlTextarea1" class="form-label">Content markdown</label>
        <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="content" ></textarea>
      </div>
      <div style="padding: 10px;">
        <button type="submit" class="btn btn-outline-primary">Create</button>
        <a href="../">
            <button type="button" class="btn btn-outline-primary">Cancel</button>
        </a>
    </div>
</form>
{% endblock %}
